.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*estilos mt f1*/

.h100 {
  min-height: 100vh;
}
.w100{
  width: 100%;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.space_evenly {
  justify-content: space-evenly;
}
.list {
  list-style: none;
}
.nomargin {
  margin: 0px;
}
.nopadding {
  padding: 0px;
}
.spacebet {
  justify-content: space-between;
}
li {
  text-decoration: none;
  display: block;
  width: 150px;
  text-align: center;
  color: bisque;
  font-size: 20px;
  margin-top: 10px;
}
li:hover {
  background-color: #242331;
}
.despList:hover > ul {
  display: block;
  background-color: #242331;
}
.dispNone{
  display: none;
}
.marginauto {
  margin: auto;
}
.navWidth {
  width: 900px;
}
.img {
  height: 100px;
  width: 100px;
}
.logo {
  height: 350px;
  width: 350px;
  display: flex;
  align-self:center;
  padding-top: 150px;
}
.imgback {
  background-image: url(https://static01.nyt.com/images/2022/03/16/world/00Venezuela-Russians-Promo/00Venezuela-Russians-Promo-videoSixteenByNine3000.jpg);
}
.callbut {
  background-color: transparent;
  border: none;
}
.butt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 200px;
}
.heacolor{
  background: linear-gradient(to right,#DDCA7D,#B88B4A,#A27035, #533E2D, #242331);
}