body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.barra-de-arriba {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #DDCA7D;
  align-items: center;
  justify-content: space-around;
}

.cuerpo-general {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #A27035;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #242331;

}

/* -----------------------------------HOME 2-------------------------- */

.barra-de-arriba-Home2 {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #DDCA7D;
  align-items: center;
  justify-content: space-around;
}

.contenedorDeLogo {
  width: 25%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 43px;
  align-items: center;
}

.contenedorDeLogo img {
  width: 25vw;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  border-radius: 43px;
  padding-left: 60%;
}

.titulo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.contenedorDeInicio {
  width: 25%;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.input {
  width: 40%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #533E2D;
  color: #DDCA7D;
  border-radius: 8px;
}

.input h4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logoI {
  width: 5vh;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  border-radius: 43px;
}

.cardHome2 {
  width: 35vw;
  height: 63vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.cardHome2 img {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  border-radius: 40px;
}

.cardHome2 h3 {
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #7B5731;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.subtitulosHome2 {
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #CBAB64;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.flechaHome2 {
  width: 4vw;
  height: 7vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flechaHome2 img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
}

.botonFooter {
  width: 10vw;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #DDCA7D;
  justify-content: center;
  align-items: center;
  font-style: none;
  border-radius: 20px;
}

.botonFooterS {
  position: fixed;
  z-index: 1000;
  left: 12px;
  bottom: 25px;
  background-color: #DDCA7D;
  width: 50px;
  height: 50px;
  color: #1E1D29;
  text-align: center;
  border-radius: 50%;
  font-size: xx-large;
}

.botonFooterS:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.contenedorDeBotones {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.infoFooter {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #DDCA7D
}

.infoFooter a {
  color: #DDCA7D;
}

.horarios {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logosSociales {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;

}

.logosSociales img {
  width: 3vw;
  height: 5vh;
}

.mapaFooter {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #DDCA7D
}

.mapaFooter iframe {
  width: 80%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}

/* --------------------------------PAGE 404-------------------------- */

.c404 {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.c404:hover {
  background-color: #CBAB64;
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 30%;
}

.c404 h2 {
  font-size: xx-large;
}

.c404 img {
  width: 15vw;
  height: 30vh;
  object-fit: contain;
}


/* --------------------------------SIGN IN-------------------------- */

.formularioSignIn {
  width: 30vw;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #DDCA7D;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 14px;
  text-decoration: none;
}

.formularioSignIn input {
  width: 60%;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contenedorU {
  width: 30vw;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contenedorU button {
  width: 10vw;
  height: 3vh;
  background-color: #533E2D;
  color: #DDCA7D;
  border-radius: 15px;
}

#signIn {
  width: 10vw;
  height: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #242331;
  border-radius: 30px;
  color: #DDCA7D;
  font-style: none;
  text-decoration: none;
}

#signIn:hover {
  background-color: #a89858;
  color: #242331;
  border: solid 2px #242331;
  transform: scale(0.9);

}

#googleb {
  width: 10vw;
  height: 7vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#googleb img {
  width: 100%;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
}

#googleb img:hover {
  transform: scale(1.1);
}

/* --------------------------------PAGES HOTELS-------------------------- */

.selectH {
  width: 20vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.input-search2 {
  width: 70vw;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.formH {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.inputH {
  height: 2.5vh;
  width: 12vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #CBAB64;
}

.cardH {
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #533E2D;
  border-radius: 10px;
  color: #CBAB64;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
}

.cardH:hover .image img {
  opacity: .5;
}

.imageH {
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
}

.imageH img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.centerH {
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.botonH {
  min-width: 8vw;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-color: #CBAB64;
  justify-content: center;
  color: #533E2D;
  border-radius: 10px;
  margin: 10px;
}

.centerH h1 {
  color: #CBAB64;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* --------------------------------PAGES REGRISTRO DE NUEVOS HOTELS-------------------------- */

.formularioSignIn2 {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #DDCA7D;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 14px;
  text-decoration: none;
}

.titulitoH {
  width: 50vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.titulitoH h2 {
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
}

.titulitoH img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}

.formularioSignIn2 label {
  width: 60%;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.formularioSignIn2 input {
  width: 60%;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#signIn2 {
  width: 20vw;
  height: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #242331;
  border-radius: 30px;
  color: #DDCA7D;
  font-style: none;
  text-decoration: none;
}

#signIn2:hover {
  background-color: #a89858;
  color: #242331;
  border: solid 2px #242331;
  transform: scale(1.1);

}

/* --------------------------------PAGES DETALLES -------------------------- */

.detallesDeHotel {
  width: 70vw;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #533E2D;
  justify-content: center;
  border-radius: 14px;
  margin: 2rem;
}

.detallesDeHotel button {
  width: 10vw;
  height: 4vh;
  background-color: #a89858;
  border-radius: 10px;
  border: #242331;
}

.tituloYimagen {
  width: 70vw;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  /*  background-color: red; */
  justify-content: center;
  align-items: center;
}

.tituloYimagen h1 {
  width: 70vw;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #533E2D; */
  justify-content: center;
}

.tituloYimagen img {
  width: 70vw;
  height: 53vh;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
}

.detallesDeDetails {
  width: 70vw;
  height: 17vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #DDCA7D;
  font-size: large;
}

.detallesDeShow {
  width: 70vw;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #DDCA7D;
  justify-content: center;
  border-radius: 14px;
  margin: 2rem;
}

.detallesDeShow button {
  width: 10vw;
  height: 4vh;
  background-color: #a89858;
  border-radius: 10px;
  border: #242331;
}

.tituloEImagenDeShow {
  width: 70vw;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  /*  background-color: red; */
  justify-content: center;
  align-items: center;
}

.tituloEImagenDeShow h1 {
  width: 70vw;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #533E2D; */
  justify-content: center;
}

.tituloEImagenDeShow img {
  width: 70vw;
  height: 53vh;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
}

.suplementoDeShow {
  width: 70vw;
  height: 17vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #242331;
  font-size: large;
}
.comments{
  width: 70vw;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #7B5731;
  color: #d1c07c;
}
.comments h2{
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.comments h3{
width: 100%;
height: 2vh;
}

.footerDeShow{
  width: 70vw;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  color: #d1c07c;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 5px;
}
.nuevoComentario{
  width: 70vw;
  min-height: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 8px;
}
.nuevoComentario input{
height: 3vh;
}

/*-------------------------------------------------------------------------Mycity---------------------------------------------------------------------------------------*/
.contmycit {
  background-color: #eff1f6;
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mycit {
  background-color: #61dafb;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  height: 900px;
}

.butmycard {
  height: 100px;
  width: 100px;
  background-color: #242331;
  color: #CBAB64;
}

/* ---------------------------------------------------MY PROFILE-------------------------------------------------------------- */
.profile-user {
  width: 70vw;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: solid black 5px;
  padding: 10px;
  border-radius: 12px;
}

.profile-user img {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
}

.profile-user h4 {
  font-size: x-large;
  background-color: #d1c07c;
  width: 43vw;
  min-height: 6vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 9px;
}

.profile-user h5 {
  font-size: large;
  background-color: #c4b36e;
  ;
  width: 33vw;
  min-height: 6vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 9px;
}

.profile-user button {
  width: 15vw;
  height: 6vh;
  color: #c4b36e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242331;
  border-radius: 9px;
}

img {
  width: 50px;
  height: 50px;
}

/* ---------------------------------------------my show------------------------------------------------- */

.comentarios{
  width: 30vw;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #d1c07c;
  color: #533E2D;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  margin-top: 10px;
}

.todosLosComentarios{
  width: 30vw;
  min-height:15vh ;
  display: flex;
  flex-wrap: wrap;
  background-color: #61dafb;
  color: red;
  margin-top: 10px;
}


@media screen and (max-width: 1100px) {
  .horarios {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .logosSociales {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 18px;

  }

  .logosSociales img {
    width: 2vw;
    height: 2vh;
  }

  .mapaFooter {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #DDCA7D
  }

  .cardH {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #533E2D;
    border-radius: 10px;
    color: #CBAB64;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
  }

  .formularioSignIn {
    width: 50vw;
  }

  .formularioSignIn2 {
    width: 100vw;
  }

  .formularioSignIn {
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #DDCA7D;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: none;
    gap: 1rem;
    border-radius: 14px;
    text-decoration: none;
  }

  .formularioSignIn input {
    width: 80%;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contenedorU {
    width: 80vw;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contenedorU button {
    width: 15vw;
    height: 5vh;
    background-color: #533E2D;
    color: #DDCA7D;
    border-radius: 15px;
  }

  #signIn {
    width: 15vw;
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #242331;
    border-radius: 30px;
    color: #DDCA7D;
    font-style: none;
    text-decoration: none;
  }
}

@media screen and (max-width: 1100px) {
  .logosSociales img {
    width: 0vw;
    height: 0vh;
  }

  .logosSociales {
    width: 0%;
    height: 0%;
    display: none;
    flex-wrap: none;
    align-items: none;
    justify-content: none;
    gap: 18px;

  }
.mapaFooter {
    width: 0vw;
    height: 0%;
    display: none;
    flex-wrap: none;
    justify-content: none;
    color: #DDCA7D
  }
}

@media screen and (max-width: 1100px) {
  .detallesDeHotel button {
    width: 25vw;
    height: 4vh;
    background-color: #a89858;
    border-radius: 10px;
    border: #242331;
  }

  .detallesDeShow button {
    width: 25vw;
    height: 4vh;
    background-color: #a89858;
    border-radius: 10px;
    border: #242331;
  }

  .formularioSignIn2 {
    width: 100vw;
  }

  .titulitoH img {
    width: 0px;
    height: 0px;
    display: none;
    flex-wrap: none;
  }

  .titulitoH h2 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    color: #242331;
  }
}

@media screen and (max-width: 825px) {
  .footer {
    width: 100vw;
    min-height: 45vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: none;
    background-color: #242331;

  }

  .horarios {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  
}

@media screen and (max-width: 450px) {
  .botonFooter {
    width: 15vw;
  }
}