body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.barra-de-arriba{
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #DDCA7D;
  align-items: center;
  justify-content: space-around;
}

.cuerpo-general{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #A27035;
  justify-content: center;
  align-items: center;
}

.footer{
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #242331;
  
}

/* -----------------------------------HOME 2-------------------------- */

.barra-de-arriba-Home2{
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #DDCA7D;
  align-items: center;
  justify-content: space-around;
}

.contenedorDeLogo{
  width: 25% ;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 43px;
  align-items: center;
}

.contenedorDeLogo img{
  width: 25vw;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  border-radius: 43px ;
  padding-left: 60%;
}

.titulo{
  width: 50% ;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.contenedorDeInicio{
  width: 25% ;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.input{
  width: 40%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #533E2D;
  color: #DDCA7D;
  border-radius: 8px;
}

.input h4{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logoI{
  width: 5vh;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  border-radius: 43px ;
}

.cardHome2{
  width: 35vw;
  height: 63vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.cardHome2 img{
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  border-radius: 40px;
}

.cardHome2 h3{
  width: 30vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #7B5731;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.subtitulosHome2{
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #CBAB64;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.flechaHome2{
  width: 4vw;
  height: 7vh;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
}

.flechaHome2 img{
  width:100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
}

.botonFooter{
  width: 10vw;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #1E1D29;
  justify-content: center;
  align-items: center;
  font-style: none;
  border-radius: 20px;
}

.botonFooter a{
  color: #DDCA7D
}

.botonFooterS{
 position: fixed;
 z-index: 1000;
 left: 12px;
 bottom: 25px;
 background-color:#DDCA7D;
 width: 50px;
 height: 50px;
 color: #1E1D29;
 text-align: center;
 border-radius: 50%;
 font-size: xx-large;
}

.botonFooterS:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.contenedorDeBotones{
  width: 20vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.infoFooter{
  width: 40vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #DDCA7D
 
}

.horarios{
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logosSociales{
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
  
}

.logosSociales img{
  width: 3vw;
  height: 5vh;
}

.mapaFooter{
  width: 40vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #DDCA7D
  
}
 
.mapaFooter iframe{
  width: 80%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}